---
layout: default
title: '11ty + Snowpack + tailwind starter kit :: About'
---

<h1 class="text-4xl mb-4">
  About
</h1>

<a href="https://www.11ty.dev/">11ty</a>, powered by <a href="https://www.snowpack.dev/">Snowpack</a>
with <a href="https://tailwindcss.com">tailwindcss</a>.

<br/>

<a href="/" class="text-gray-500 underline">
  Back to Homepage
</a>

<script type="module" src="/js/about.js"></script>
